.background {
  background-color: #D0EEF7;
  height: 100vh;
}

.navbar {
  display: flex;
  padding-top: 15px;
  /* max-width: 3000px; */
  margin-bottom: 20px;
}

.navRight {
  display: flex;
  align-items: center;
}

.loginButton {
  background-color: #393DA1 !important;
}
