.circleBackground {
 
  width: 575px;
  height: 575px;
  background-color: #F5FDFF;
  border-radius: 50%;
  margin-top: -633px;
  margin-left: 93px;
  margin-bottom: 100px;
  z-index: 1;
}

@keyframes moveIcons {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-20px, -20px);
  }
}

.move-icons {
  animation: moveIcons 0.3s forwards;
}


